{% extends "base.html" %} 
{% load static%} 
{% block content %} 


<div class="container">
    <h2>Text Detection</h2>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Breaking Captcha Solution</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#API">API</a>
      </li>
     
    </ul>
    <div class="tab-content">
      <div id="home" class="tab-pane active">
        <h3>Breaking Captcha Solution</h3>
        {% include 'uploadFile.html' %}
        <div class="solution">
          <div class="solution_title">
            <h3>Solution</h3>
          </div>
          <div class="solution_body">
            <div class="left_solution">
              <button class="bg-success" type="submit"> Breaking Captcha</button>
            <div class="">
              <label for="progre">Progress:</label>
              <div class="progress">
                
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
              </div>
            </div>
             
              {% include 'RatingStar.html' %}
            </div>
            <div class="right_solution">
              <textarea name="solution" id="solution" cols="30" rows="10"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div id="API" class="tab-pane">
        <h3>API</h3>
        
      </div>
    
    </div>
  {% endblock %}